#body-template {
    margin: 5px;
}

#footer-template {
    margin: 5px;
}

<<<<<<< HEAD
 .vcenter {
display: table-cell;
vertical-align: middle;
float: none;
}

.vcenter-col{
    height: 40px;
}

.scrollable-panel {
    overflow-y:auto;
    height: 215px;
}

.badge-error {
  background-color: #d9534f;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #5cb85c;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}

#global-alert {
    position: absolute;
    top: 50%;
    left: 200px;
    z-index: 10000000;
    display: none;
}

#global-save-name {
    position: absolute;
    top: 50%;
    left: 200px;
    z-index: 10000001;
    display: none;
}

#global-load-name {
    position: absolute;
    top: 50%;
    left: 200px;
    z-index: 10000002;
    display: none;
}

.alert-body {
    min-width: 300px;
=======
.vigor-used {
    color: #101010;
}

.vigor-permanent {
    color : #d43f3a;
}

.vigor-select{
<<<<<<< HEAD
    color :#4cae4c;
>>>>>>> Updated visual styling of Encumberance, Vigor, Damage panels
=======
    color :#ddd;
}

.total-color{
    background-color:#d9534f;
}

.points-color{
    background-color:  #5cb85c;
>>>>>>> Upgraded combat gear melee weapon panel
}


 .vcenter {
display: table-cell;
vertical-align: middle;
float: none;
}

.vcenter-col{
    height: 40px;
}

.vcenter-panel-base-col{
    height: 30px;
}
