#body-template {
    margin: 5px;
}

#footer-template {
    margin: 5px;
}

 .vcenter {
display: table-cell;
vertical-align: middle;
float: none;
}

.vcenter-col{
    height: 40px;
}

.scrollable-panel {
    overflow-y:auto;
    height: 215px;
}

.badge-error {
  background-color: #d9534f;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #5cb85c;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}
