<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a id="menu_home">{{title}}</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="javascript:void();">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right"></ul>

    <!-- Left Nav Section -->
    <ul class="left">
        <li><a id="menu_cg">Combat gear</a></li>
        <li><a id="menu_ncg">Non combat gear</a></li>
        <li><a id="menu_map">Map</a></li>
    </ul>
  </section>
</nav>

<script type="text/javascript" src="./app/js/header.js"></script>
