<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="jumbotron">
                <h1>{{title}}</h1>
                <div>
                    <img hspace="20" ALIGN="left" src="{{logo}}" alt="Puppet Heroes" class="img-thumbnail">
                    Puppet Hero is a mobile device-assisted role playing game and combines the traditional tabletop gaming experience with the accessibility of a mobile device.
                </div>
                <div style="margin-top:35px;">
                    <a id="go_home" class="btn btn-primary btn-lg " role="button">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="./app/js/home.js"></script>
