<div class="map-spacer"></div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6 pull-left">
                        <strong>{{title}}</strong>
                        <span class="label label-default">Map tile :</span>
                        <span id="tileX" class="label label-success">0</span>
                        <span id="tileY" class="label label-danger">0</span>
                    </div>
                    <div class="col-xs-6">
                        <button id="close-map-top-menu" type="button" class="btn btn-default btn-xs  pull-right">
                            <span id="map-hide-show-icon" class="glyphicon glyphicon-chevron-up"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="map_controlls">
                    <form class="form-inline" role="form">
                        <input type="button" id="toggleCoords" class="btn btn-primary btn-sm" value="Show coords" />
                    </form>
                    <hr />
                </div>
                <div id="mapCanvas"></div>
                <hr />
                <div id="map-alert" class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Warning!</strong> <span id="map-alert-message"></span>
                </div>
                <div class="map-assets">
                    <img src="./app/img/assets/man-black.png" id="man-black" />
                    <img src="./app/img/assets/man-blue.png" id="man-blue" />
                    <img src="./app/img/assets/man-green.png" id="man-green" />
                    <img src="./app/img/assets/man-orange.png" id="man-orange" />
                    <img src="./app/img/assets/man-red.png" id="man-red" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- POPUP MENU HTML -->
<div id="map-popup">
    <div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6 pull-left">Unit options</div>
            <div class="col-xs-6">
                <div class="btn-group pull-right">
                    <button id="minimize-map-popup" type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-download-alt"></span>
                    </button>
                    <button id="close-map-popup" type="button" class="btn btn-default btn-xs  ">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label for="solder-name" class="col-sm-2 control-label">Name:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="solder-name" placeholder="name">
            </div>
        </div>
    </div>
</div>
</div>

<script src="./app/js/models/map_scripts/map_scripts.js"></script>
