<div class="map-spacer"></div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{{title}}</strong>
                <span class="label label-default">Map tile :</span>
                <span id="tileX" class="label label-success">0</span>
                <span id="tileY" class="label label-danger">0</span>
            </div>
            <div class="panel-body">
                <div class="map_controlls">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <input value="{{sizeX}}" type="number" class="form-control input-sm" id="inpSizeX">
                        </div>
                        <div class="form-group">
                            <input value="{{sizeY}}" type="number" class="form-control input-sm" id="inpSizeY">
                        </div>
                        <input type="button" id="changeMapSizeBnt" class="btn btn-default btn-sm" value="Change size" />
                    </form>
                </div>
                <hr />
                <div id="mapCanvas"></div>
                <hr />
                <div class="map-assets">
                    <img src="./app/img/assets/man-black.png" id="man-black" />
                    <img src="./app/img/assets/man-blue.png" id="man-blue" />
                    <img src="./app/img/assets/man-green.png" id="man-green" />
                    <img src="./app/img/assets/man-orange.png" id="man-orange" />
                    <img src="./app/img/assets/man-red.png" id="man-red" />
                </div>
            </div>
        </div>
    </div>
</div>

<script src="./app/js/models/map_scripts/map_scripts.js"></script>
