<hr>
<div class="row">
    <div class="small-12 columns">
        <div class="panel callout radius">
            <h3>{{title}}</h3>
            <div>PER: {{talents.PER}}</div>
            <div>ARCH: <input type="number" value="{{talents.ARCH}}" /></div>
        </div>
    </div>
</div>